b {
  font-weight: bold;
}

strong {
  font-weight: bold;
}

i {
  font-style: italic;
}

em {
  font-style: italic;
}

mark {
  background-color: mark;
  color: marktext;
}

small {
  font-size: smaller;
}

del {
  text-decoration: line-through;
}

ins {
  text-decoration: underline;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}
sup {
  vertical-align: super;
  font-size: smaller;
}

blockquote {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}
q::before {
  content: open-quote;
}

q::after {
  content: close-quote;
}

q {
  display: inline;
}

abbr[title] {
  text-decoration: underline dotted;
}

address {
  display: block;
  font-style: italic;
}

cite {
  font-style: italic;
}

/* bdo[Attributes Style] {
  direction: rtl;
} */

bdo {
  unicode-bidi: bidi-override;
}
